<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxiang.server.search.dao.BatchTaskCenterMapper">
  <resultMap id="BaseResultMap" type="com.yuxiang.entity.BatchTaskCenter">
    <constructor>
      <arg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="task_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="build_status" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="task_type" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="creator_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="batch_sid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yuxiang.entity.BatchTaskCenter">
    <constructor>
      <arg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="task_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="build_status" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="task_type" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="creator_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="batch_sid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="params" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Blob_Column_List">
    params
  </sql>

  <sql id="batch_task_List">
    id, task_name, build_status,
    task_type, creator_name, create_time,
    update_time, batch_sid, remark,
    params
  </sql>

  <select id="count" resultType="java.lang.Long" parameterType="com.yuxiang.dto.BatchTaskCenterDto">

    select count(*) from batch_task_center where 1=1

    <if test="taskName != null">
      <![CDATA[AND task_name like %#{taskName,jdbcType=VARCHAR}%]]>
    </if>
    <if test="buildStatus != null">
      AND build_status = #{buildStatus,jdbcType=CHAR}
    </if>
    <if test="taskType != null">
      AND task_type = #{taskType,jdbcType=CHAR}
    </if>
    <if test="creatorName != null">
      AND creator_name = #{creatorName,jdbcType=VARCHAR}
    </if>
    <if test="createTimeStart != null and createTimeStart != ''">
      <![CDATA[AND to_char(CREATE_TIME,'yyyyMMdd') >= #{createTimeStart}]]>
    </if>
    <if test="createTimeEnd != null and createTimeEnd != ''">
      <![CDATA[AND to_char(CREATE_TIME,'yyyyMMdd') <= #{createTimeEnd}]]>
    </if>
  </select>

  <select id="findPager" resultMap="ResultMapWithBLOBs" parameterType="com.yuxiang.dto.BatchTaskCenterDto">

    select
    <include refid="batch_task_List"/>
    from batch_task_center where 1=1

    <if test="taskName != null">
      <![CDATA[AND task_name like %#{taskName,jdbcType=VARCHAR}%]]>
    </if>
    <if test="buildStatus != null">
      AND build_status = #{buildStatus,jdbcType=CHAR}
    </if>
    <if test="taskType != null">
      AND task_type = #{taskType,jdbcType=CHAR}
    </if>
    <if test="creatorName != null">
      AND creator_name = #{creatorName,jdbcType=VARCHAR}
    </if>
    <if test="createTimeStart != null and createTimeStart != ''">
      <![CDATA[AND to_char(CREATE_TIME,'yyyyMMdd') >= #{createTimeStart}]]>
    </if>
    <if test="createTimeEnd != null and createTimeEnd != ''">
      <![CDATA[AND to_char(CREATE_TIME,'yyyyMMdd') <= #{createTimeEnd}]]>
    </if>
  </select>
</mapper>
